<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
    
    <bean id="credit" class="in.thiru.CreditCardPayment"  /> 
     <bean id="debit" class="in.thiru.DebitCardPayment"  /> 
      <bean id="sodexo" class="in.thiru.SodexoCardPayment"  /> 
      
    	 <bean id="paymnt" class="in.thiru.PaymentProcessing"> 
        
       <property name="payment" ref="credit"     />
        
       </bean>
    
    

</beans>